.sidebar {
  color: #fff;
}

.header {
  transition: all 0.3s ease-in-out;
  position: relative;
  height: 10vh;
}

.toggleButton {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header:hover .toggleButton {
  opacity: 1;
}
